<h1>Who bought <%= @product.title %></h1>
<p>Última actualización <%= @product.orders.sort_by(&:updated_at).last && @product.orders.sort_by(&:updated_at).last.updated_at%></p>
  
<% @product.orders.each do |order| %> 
    <h2>Order <%= order.id %></h2>
	<p>Shipped to <%= order.address %></p>
	<table>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <% order.line_items.each do |item| %>
        	<tr>
              <td><%= item.product.title %></td>
              <td><%= item.quantity %></td>
              <td><%= number_to_current_currency item.total_price%></td>
            </tr>
        <% end %>
        <tr>
        	<td colspan="2">total</td>
            <td><%= number_to_current_currency order.line_items.map(&:total_price).sum %></td>
        </tr>
	</taboe>
        
    <p> Paid by <%= order.pay_type %></p>
<% end %>